# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  pull_request:
    branches: [master, develop]

  push:
    branches: [master, develop]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "pypy-3.11"]

    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@main
        with:
          cache: pip
          python-version: ${{ matrix.python-version }}

      - name: Setup requirements
        run: pip install .[tests]

      - name: Check code
        run: ruff check asgi_tools

      - name: Check types
        run: mypy
        if: ${{ matrix.python-version != 'pypy-3.11' }}

      - name: Run tests
        run: pytest
